.App {
  text-align: center;
}

.App-header {
  background-color: #6c757d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1 {
  font-size: 40px;
}

form {
  margin-top: 20px;
}

form .input-width {
  margin: auto;
  width: 50%;
}

.card .img-height {
  height: 200px;
}

.card .pd-15 {
  padding: 15px;
}

.mgb-15 {
  margin-bottom: 15px;
}
